
nav.myNav 
    ul.mynav__ul 
        li.mynav__ul__li
            a.li__link(href="/") home
        li.mynav__ul__li
            a.li__link(href="/about") about
        li.mynav__ul__li
            a.li__link(href="/contact") contact
        li.mynav__ul__li
            a.li__link(href="/incident/new") new